<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> <!--  -->
    <script>
        function myFunction(entry) {
            console.log(entry);
            location.replace("http://10.0.1.26:3000/history/" + entry);
        }

    </script>

</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="saunabuddy_header"><img src="../images/logo.png" style="height: 15%; width: 15%" alt="image not found"><%= title %></h1>
    </div>
    <div class="row">
        <canvas id="myChart"></canvas>
    </div>
</div>
</body>
<script>

    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: [],
            datasets: [{
                label: 'Temperature',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: []
            }]
        },

        // Configuration options go here
        options: {}
    });

    <%data.forEach(function (data_entry) { %>
    data.datasets.data.push("<%= data_entry.temp%>");
    data.labels.push(<%= data_entry.timestamp%>);
    console.log(<%= data_entry.temp%>)
    console.log(<%= data_entry.humidity%>)
    <% });%>

</script>
</html>